MW.DataHub.EDIProjectTemplate/Dimerco.eCall.Feedback/Service References/eCallAPI/ServiceForOPS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eCallService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eCallService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InterfaceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPW" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterfaceInfo" nillable="true" type="tns:InterfaceInfo" />
</xs:schema>